@import "../variables/index.scss";
@mixin loadingStripe($position: "top") {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  @if $position == "top" {
    top: 0;
  }
  @if $position == "bottom" {
    bottom: 0;
  }
  left: 0;
  width: 500%;
  transform: translateX(-40%);
  animation: loading-animation alternate infinite 1s;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(107, 96, 230, 1) 0%,
    rgba(65, 255, 246, 1) 25%,
    rgba(65, 133, 255, 1) 50%,
    rgba(65, 248, 255, 1) 75%,
    rgba(65, 82, 255, 1) 100%
  );
}

@keyframes loading-animation {
  from {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(0%);
  }
}

.box {
  position: relative;
  border: none;
  background-color: transparent;
  padding: 0.5em;
  border-radius: 6px;
  margin: 0;
  display: flex;
  align-items: center;
  overflow: hidden;

  &[data-corners="0"] {
    border-radius: $corners-0;
  }
  &[data-corners="1"] {
    border-radius: $corners-1;
  }
  &[data-corners="2"] {
    border-radius: $corners-2;
  }
  &[data-corners="3"] {
    border-radius: $corners-3;
  }
  &[data-corners="4"] {
    border-radius: $corners-4;
  }
  &[data-corners="5"] {
    border-radius: $corners-5;
  }
  &[data-corners="6"] {
    border-radius: $corners-6;
  }
  &[data-corners="7"] {
    border-radius: $corners-7;
  }
  &[data-corners="8"] {
    border-radius: $corners-8;
  }
  &[data-corners="9"] {
    border-radius: $corners-9;
  }
  &[data-corners="10"] {
    border-radius: $corners-10;
  }
  &[data-corners="rounded"] {
    border-radius: $corners-rounded;
  }

  &[data-elevation="0"] {
    box-shadow: $elevation-0;
  }
  &[data-elevation="1"] {
    box-shadow: $elevation-1;
  }
  &[data-elevation="2"] {
    box-shadow: $elevation-2;
  }
  &[data-elevation="3"] {
    box-shadow: $elevation-3;
  }
  &[data-elevation="4"] {
    box-shadow: $elevation-4;
  }
  &[data-elevation="5"] {
    box-shadow: $elevation-5;
  }
  &[data-elevation="6"] {
    box-shadow: $elevation-6;
  }
  &[data-elevation="7"] {
    box-shadow: $elevation-7;
  }
  &[data-elevation="8"] {
    box-shadow: $elevation-8;
  }
  &[data-elevation="9"] {
    box-shadow: $elevation-9;
  }
  &[data-elevation="10"] {
    box-shadow: $elevation-10;
  }

  &[data-size="small"] {
    font-size: 0.8em;
  }

  &[data-size="medium"] {
    font-size: 1em;
  }
  &[data-size="large"] {
    font-size: 1.3em;
  }

  

  &:disabled {
    pointer-events: none;
    opacity: 0.8;
  }
}

.loading {
  &[data-loading="true"] {
    cursor: default;

    &[data-loading-position="top"] {
      &::after {
        @include loadingStripe("top");
      }
    }
    &[data-loading-position="bottom"] {
      &::after {
        @include loadingStripe("bottom");
      }
    }
  }
  &[data-loading="false"] {
    &::after {
      display: none;
    }
  }
}

.buttonOutlined {
  background-color: transparent;
  &[data-color="primary"] {
    outline: 1px solid $color-primary;
    color: $color-primary;
  }
  &[data-color="secondary"] {
    outline: 1px solid $color-secondary;
    color: $color-secondary;
  }
  &[data-color="success"] {
    outline: 1px solid $color-success;
    color: $color-success;
  }
  &[data-color="warning"] {
    outline: 1px solid $color-warning;
    color: $color-warning;
  }
  &[data-color="error"] {
    outline: 1px solid $color-error;
    color: $color-error;
  }
}

.nameItLaterIMPORTANT{
  &[data-color="primary"] {
    background-color: $color-primary;
    color: $color-primary-tertiary;
  }
  &[data-color="secondary"] {
    background-color: $color-secondary;
    color: $color-secondary-tertiary;
  }
  &[data-color="success"] {
    background-color: $color-success;
    color: $color-success-tertiary;
  }
  &[data-color="info"] {
    background-color: $color-info;
    color: $color-info-tertiary;
  }
  &[data-color="warning"] {
    background-color: $color-warning;
    color: $color-warning-tertiary;
  }
  &[data-color="error"] {
    background-color: $color-error;
    color: $color-error-tertiary;
  }
}
