@import "./colors.scss";
$corners-0: 0px;
$corners-1: 2px;
$corners-2: 4px;
$corners-3: 6px;
$corners-4: 8px;
$corners-5: 10px;
$corners-6: 12px;
$corners-7: 14px;
$corners-8: 16px;
$corners-9: 18px;
$corners-10: 20px;
$corners-rounded: 1000px;

$elevation-0: 0px 0px 0px $color-shadow;
$elevation-1: 0px 0px 2px $color-shadow;
$elevation-2: 0px 0px 4px $color-shadow;
$elevation-3: 0px 0px 6px $color-shadow;
$elevation-4: 0px 0px 8px $color-shadow;
$elevation-5: 0px 0px 10px $color-shadow;
$elevation-6: 0px 0px 12px $color-shadow;
$elevation-7: 0px 0px 14px $color-shadow;
$elevation-8: 0px 0px 16px $color-shadow;
$elevation-9: 0px 0px 18px $color-shadow;
$elevation-10: 0px 0px 20px $color-shadow;
