@import "./all-colors.scss";

$color-primary: #90caf9;
$color-primary-tertiary: #fff;
$color-primary-background-tertiary: #b8e7fb;
$color-primary-background: #071318;

$color-secondary: #ce93d8;
$color-secondary-tertiary: #fff;
$color-secondary-background-tertiary: #b8e7fb;
$color-secondary-background: #071318;

$color-success: #66bb6a;
$color-success-tertiary: #fff;
$color-success-background-tertiary: #cce8cd;
$color-success-background: #0c130d;

$color-warning: #ffa726;
$color-warning-tertiary: #fff;
$color-warning-background-tertiary: #ead0a7;
$color-warning-background: #191207;

$color-error: #f44336;
$color-error-tertiary: #fff;
$color-error-background-tertiary: #f4c7c7;
$color-error-background: #160b0b;

$color-info: #29b6f6;
$color-info-tertiary: #fff;
$color-into-background-tertiary: #8aafbf;
$color-into-background: #071318;

$color-background: #fff;
$color-background-tertiary: #000;

$color-text: #000;

$color-shadow: #000;
