$color-primary: blue;
$color-primary-alt: white;
$color-secondary: purple;
$color-secondary-alt: white;

$color-success: purple;
$color-success-alt: white;

$color-warning: yellow;
$color-warning-alt: black;
$color-error: red;
$color-error-alt: white;
$color-shadow: black;
